<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inspirem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="IɴꜱᴘɪʀᴇM"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".deleteaccount"/>
        <activity android:name=".appliedevents" />
        <activity android:name=".event_registration" />
        <activity android:name=".editevents" />
        <activity android:name=".myevents" />
        <activity android:name=".resetpassword" />
        <activity android:name=".profile" />
        <activity android:name=".Eventdetails" />
        <activity android:name=".about" />
        <activity android:name=".settings" />
        <activity android:name=".payment" />
        <activity android:name=".create_events" />
        <activity android:name=".notification" />
        <activity android:name=".dashboard" />
        <activity android:name=".search" />
        <activity android:name=".home" />
        <activity android:name=".signup" />
        <activity android:name=".forgotpassword" />
        <activity
            android:name=".login"
            android:clearTaskOnLaunch="true"
            android:usesCleartextTraffic="true" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>